test_logs
open_detection/__pycache__
misc/__pycache__
__pycache__/
env
**/__pycache__/
*.xml
*.iml
.idea/
*.png
.env
analysis/report_generation/build/
analysis/report_generation/images/
analysis/report_generation/*.tex